/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.heroContent {
  display: grid;
  gap: 2rem;
  align-items: center;
  justify-items: center;
}

.heroText {
  max-width: 600px;
}

.podcastWidget {
  width: min(520px, 100%);
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }

  .heroContent {
    gap: 1.5rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
