/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

@import url("https://fonts.googleapis.com/css2?family=DotGothic16&display=swap");

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #0739cf;
  --ifm-color-primary-dark: #0633ba;
  --ifm-color-primary-darker: #0630b0;
  --ifm-color-primary-darkest: #052891;
  --ifm-color-primary-light: #083fe4;
  --ifm-color-primary-lighter: #0842ee;
  --ifm-color-primary-lightest: #1f55f7;

  --ifm-cybernetics-background-color: rgba(36, 36, 36, 0.8);
  --ifm-cybernetics-font-color: rgba(255, 255, 255, 0.9);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme="dark"] {
  --ifm-color-primary: #f7ff00;
  --ifm-color-primary-dark: #dee600;
  --ifm-color-primary-darker: #d2d900;
  --ifm-color-primary-darkest: #adb300;
  --ifm-color-primary-light: #f8ff1a;
  --ifm-color-primary-lighter: #f8ff26;
  --ifm-color-primary-lightest: #f9ff4d;
}

@font-face {
  font-family: "DotGothic16", sans-serif;
  src: url("/font/DotGothic16/DotGothic16-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

html {
  font-size: 14px;
  scroll-behavior: smooth;
  font-family: "DotGothic16", sans-serif;
}

body {
  font-family: "DotGothic16", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "DotGothic16", sans-serif;
}
h1 {
  font-size: 2rem;
  color: var(--ifm-color-primary);
}
h2 {
  font-size: 1.4rem;
  color: var(--ifm-color-primary-lighter);
}
h3 {
  font-size: 1.2rem;
}
h4 {
  font-size: 1.1rem;
}
h5 {
  font-size: 1rem;
}
