/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

@import url("https://fonts.googleapis.com/css2?family=DotGothic16&display=swap");

/* You can override the default Infima variables here. */
:root {
  --ifm-navbar-background-color: #f5f4f2;
  /* --ifm-hero-background-color: #242424; */

  --ifm-color-primary: #11b000;
  --ifm-color-primary-dark: #0f9e00;
  --ifm-color-primary-darker: #0e9600;
  --ifm-color-primary-darkest: #0c7b00;
  --ifm-color-primary-light: #13c200;
  --ifm-color-primary-lighter: #14ca00;
  --ifm-color-primary-lightest: #16e500;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: #15fd00;
  --ifm-footer-background-color: #f5f4f2;

  --ifm-color-secondary: #8cfd80;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme="dark"] {
  --ifm-navbar-background-color: #181818;
  --ifm-hero-background-color: #242424;
  --ifm-color-primary: #15fd00;
  --ifm-color-primary-dark: #13e400;
  --ifm-color-primary-darker: #12d700;
  --ifm-color-primary-darkest: #0fb100;
  --ifm-color-primary-light: #2bff17;

  --ifm-color-primary-lighter: rgb(224, 149, 53);
  --ifm-color-primary-lightest: rgb(0, 223, 255);

  --docusaurus-highlighted-code-line-bg: #15fd00;
  --ifm-footer-background-color: #181818;

  --ifm-color-secondary: var(--ifm-color-primary);
}

@font-face {
  font-family: "DotGothic16", sans-serif;
  src: url("/font/DotGothic16/DotGothic16-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

html {
  font-size: 14px;
  scroll-behavior: smooth;
  font-family: "DotGothic16", sans-serif;
}

body {
  font-family: "DotGothic16", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "DotGothic16", sans-serif;
}
h1 {
  font-size: 2rem;
  color: var(--ifm-color-primary);
}
h2 {
  font-size: 1.4rem;
  color: var(--ifm-color-primary-lighter);
}
h3 {
  font-size: 1.2rem;
}
h4 {
  font-size: 1.1rem;
}
h5 {
  font-size: 1rem;
}
